{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center my-5">Liste des catégories</h1>
        <p class="col-6 mx-auto text-center">
            <a class="btn btn-secondary" href="{{ path('category_new') }}">Créer une nouvelle catégorie</a>
        </p>
        <ul class="list-group mt-5 col-6 mx-auto">
            {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><a class="btn" href="{{ path('category_show', {id: category.id}) }}">{{ category.name }}</a></span>
                    <span>
                        <a href="{{ path('category_edit', {id: category.id}) }}" class="btn btn-secondary">Modifier</a>
                        <a href="{{ path('category_delete', {id: category.id}) }}" class="btn btn-secondary">X</a>
                    </span>
                </li>
            {% else %}
                <li class="list-group-item text-center">Aucune catégorie</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
