{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">{{ category.name }}</h1>
        <p class="d-flex justify-content-evenly">
            <a class="btn btn-secondary" href="{{ path('category_index') }}">Liste des catégories</a>
            <a class="btn btn-secondary" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
        </p>
        <h3 class="text-center">Liste des recettes</h3>
        <ul class="list-group my-5 col-6 mx-auto fs-4">
            {% for recipe in category.recipes %}
                <li class="list-group-item d-flex justify-content-between align-items-center"><span>{{ recipe.name }}</span><a class="btn btn-secondary w-25" href="{{ path('recipe_show', {id: recipe.id}) }}">Voir</a></li>
            {% else %}
                <li class="list-group-item">Aucune recette</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
